@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Colors used:
Dark Gray: #363637;
Salmon: #EB7C65;
Green: #DFDF83;
Blue: #CDDCE1;
*/

/* =====================
Mobile Default Styling
======================== */

body{
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #363637;
  overflow-x: hidden;
}

img {
  width: 100%;
}

main{
  padding-top: 15vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5vh;
}

ul {
  list-style-type: none;
  padding: 0;
}



.section{
  padding-left: 2vw;
  padding-right: 2vw;
  /* padding-top: 4vh; */
  padding-bottom: 6vh;
}

.section ul{
  list-style-type:circle;
  padding-left: 24px;
}

.section li {
  text-align: left;
}


/* Page Descriptions */
.description{

  margin:auto;
  width: 80%;
  padding-bottom: 4vh;
}

#skills {
  background-color: #DFDF83;
  margin: 4vh 2vw 0 2vw;
  padding: 30px;
  border-radius: 12px;
}

#skills .content{
  padding-bottom: 0;
}

#box {
  background-color: #DFDF83;
  margin: 0 2vw 8vh 2vw;
  padding: 30px;
  border-radius: 12px;
}

h1, h2, h3, h4 {
  line-height: 1.3;
}

h1 {
  text-align: center;
  padding-bottom: 0px;
  font-family: Roboto,sans-serif;
  color: #363637;
}

h2{
  text-align: center;
}

h3 {
  font-family: Roboto,sans-serif;
  font-weight: 700;
  text-align: center;
  color: #363637;
}

h4{
  font-family: Roboto,sans-serif;
  font-weight: 500;
  text-align: center;
  color: #363637;
}

p{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #363637;
  text-align: left;
}

li{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #363637;
  text-align: center;
}

main a{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #EB7C65;
  font-style: italic;
}

main a:hover{
  text-decoration: underline;
  color: #DFDF83;
}

main a:focus{
  text-decoration: underline;
  color: #DFDF83;
}

/* Button Styling */

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

button{
  background-color: #EB7C65;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: Roboto,sans-serif;
  padding: 20px 40px 20px 40px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}
button:hover {
  opacity: 0.8;
}



/* ==========================
Mobile Navigation Bar Styling
============================= */

header{
  margin: 20px;
}

/* Logo */
.logo {
  float: left;
  max-width: 200px;
  padding-left: 1vw;
}

.navtoggle li .icon{
  float: right;
  display: block;
  padding: 20px 0px 0px 1vw;
}

.navtoggle a{
  color: #363637;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto,sans-serif;
  cursor: pointer;
}

/* Navigation Link Hover */

.navtoggle a:hover {
  color: #DFDF83;
}

.navtoggle a:focus {
  color: #DFDF83;
}

/* Active Link */

.navtoggle a:active {
  color: #EB7C65;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* open navigation menu style */

.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 12vh 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 16px 0;
  border-top: 2px solid #EB7C65;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
/* =======================
Portfolio Grid Transition
========================== */
.grid .content a{
  transition-duration: 0.2s;
  transition-property: opacity;
}

.content a:hover{
  opacity: .5;
}

/* One column layout */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 100%;
  max-width: 100%;
}
.column-2 {
  flex: 100%;
}

.column-3 {
  flex: 100%;
}

/* Content */
.content {
  padding-bottom: 4vh;
}

/* About page relevant skills */
#about .content {
  padding-bottom: 1vh;
}

/* ===========
CSS Animation
============== */
@keyframes color-change {
  0% {fill: #CDDCE1;}
  50% {fill: #fcffad;}
  100% {fill: #EB7C65;}
}

.buildings {
  animation: 4s color-change infinite alternate linear;
}

@keyframes move-water {
  from {transform: translate(0,0px);}
  to {transform: translate(200px,0px);}
  0% {stroke: #1434A4;}
  50% {stroke: #6495ED;}
  100% {stroke: #CDDCE1;}
}

.water {
  animation: 5s move-water infinite alternate linear;
}


/* ===========
Mobile Footer
============== */
footer{
  padding-top: 4vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4vh;
  background-color: #CDDCE1;
  display: block;

}

footer h4{
  text-align: center;
}
footer p{
  text-align: center;
}

footer a{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #EB7C65;
  font-style: italic;
}

footer a:hover{
  text-decoration: underline;
  color: #DFDF83;
}

footer a:focus{
  text-decoration: underline;
  color: #DFDF83;
}

footer ul li{
  list-style-type: none;
  display:inline-block;
}

.email{
  display:block;
}

.social{
  margin: auto;
  padding-top: 1vh;
  text-align:center;
  display: block;
}

i {
  padding: 6px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .logo {
    width: 150px;
  }

  main {
    padding-top: 15vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10vh;
  }
  /* Grid */
  .grid {
    margin: auto;

  }

  .column {
    flex: 45%;
    max-width: 45%;
    padding: 10px;
  }

  .column-2 {
    flex: 100%;
    max-width: 100%;
    padding-right: 20px;
  }

  .column-3 {
    flex: 100%;
    max-width: 100%;
    padding-right: 20px;
  }

  #about {
    padding: 0 15vw 0 15vw;
  }

  #about .content {
    padding: 10px;
  }

  #about h1{
    text-align: left;
    padding-top: 3vh;
  }

  #skills {
    background-color: #DFDF83;
    margin: 8vh 15vw 0 15vw;
    padding: 20px;
    border-radius: 12px;
  }

  #skills .content {
    padding: 20px;
  }

  #box {
    background-color: #DFDF83;
    margin: 0 auto 10vh auto;
    width: 65%;
    padding: 80px;
    border-radius: 12px;
  }


  /* Page Description */
  .description{
    width: 65%;
    margin-bottom: 4vh;
  }

  /* Page Sections */
  .section{
    width: 75%;
    margin:auto;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 6vh;
  }

  /* Navigation */

  header {
    text-align: unset;
    padding: 20px 0 13px;
    width: 100%;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 2px;
  }

  nav li{
    display: inline-block;
    float: right;
    margin-right: 40px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }

  /* Footer */

  footer{
    padding-top: 4vh;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 4vh;
    background-color: #CDDCE1;
    display: block;
  }

  footer h4{
    text-align: left;
  }
  footer p{
    text-align: left;
  }

  footer a{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: #EB7C65;
    font-style: italic;
  }

  footer ul li{
    list-style-type: none;
    display:inline-block;
  }

  .email{
    display: inline-block;
  }

  .social{
    float: right;
    display: inline-block;
  }

  i {
    padding: 6px;
  }

  footer a:hover{
    text-decoration: underline;
    color: #DFDF83;
  }

  footer a:focus{
    text-decoration: underline;
    color: #DFDF83;
  }

}

/* ==============================
Large devices (900px or larger)
================================= */
@media only screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }

  main {
    padding-top: 122px;
  }

  .section{
    width: 85%;
    margin:auto;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 8vh;
  }


  .column {
    flex: 48%;
    max-width: 48%;
    padding: 10px;
  }

  .column-2 {
    flex: 38%;
    max-width: 38%;
    padding-right: 20px;
  }

  .column-3 {
    flex: 58%;
    max-width: 58%;
    padding-right: 20px;
  }

  .navtoggle a{
    padding: 18px 0px 0px 10px;
  }
}
