@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Colors used:
Dark Gray: #363637;
Salmon: #EB7C65;
Green: #DFDF83;
Blue: #CDDCE1;
*/

/* Ovee Logo */

.logo {
  float: left;
  /* display: block; */
  padding: 32px 40px 40px 40px;
  width: 150px;
  /* position: fixed; */
}

/* Navigation Bar */

.topnav a {
  float: right;
  display: block;
  color: #363637;
  text-align: center;
  padding: 40px 40px 40px 40px;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto,sans-serif;
}

/* Link Hover */

.topnav a:hover {
  color: #DFDF83;
}

.topnav a:focus {
  color: #DFDF83;
}

/* Active Link */

.topnav a:active {
  color: #EB7C65;
}

.topnav .icon {
  display: none;
}

/* General Styling */

img {
  width: 100%;
}

main{
  padding-top: 15vh;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 15vh;
}

.section{
padding-top: 5vh;
padding-bottom: 5vh;
}

h1, h2, h3, h4 {
  line-height: 1.3;
}

h1 {
  text-align: center;
  padding-bottom: 0px;
  font-family: Roboto,sans-serif;
  color: #363637;
}

h3 {
  font-family: Roboto,sans-serif;
  font-weight: 700;
  text-align: center;
  color: #363637;
}

h4{
  font-family: Roboto,sans-serif;
  font-weight: 500;
  text-align: center;
  color: #363637;
}

p, li{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #363637;
  text-align: center;
}

main a{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #EB7C65;
  font-style: italic;
}

main a:hover{
  text-decoration: underline;
  color: #DFDF83;
}

main a:focus{
  text-decoration: underline;
  color: #DFDF83;
}

main a:visited{
  color: #CDDCE1;
}

.invision{
  display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

button{
  background-color: #EB7C65;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: Roboto,sans-serif;
  padding: 20px 40px 20px 40px;
  text-align: center;
  text-decoration: none;
}

button:hover{
  background-color: #DFDF83;
  color: #363637;
}

.resume{
  margin: auto;
  text-align: center;
}

/* Page Descriptions */
.page{
  width: 65%;
  margin:auto;
  padding-bottom: 6vh;
}

@media screen and (max-width: 900px){
  .page{
    width: 80%;
  }
}


/* Grid */
.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 48%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 10px;
}

.content a:hover{
  opacity: .8;
}

/* Two column-layout */
@media screen and (max-width: 900px) {
  .column {
    width: 45%;
  }
}

/* One column-layout */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Footer */
footer{
  padding-top: 8vh;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 8vh;
  background-color: #CDDCE1;
}

footer p{
  text-align: center;
}

footer a{
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #EB7C65;
  font-style: italic;
}

footer ul{
  list-style-type: none;
}

footer a:hover{
  text-decoration: underline;
  color: #DFDF83;
}

footer a:focus{
  text-decoration: underline;
  color: #DFDF83;
}

/* footer a:visited{
  color: #CDDCE1;
} */
